body {
  /* rules go here */
}

.whole {
}

.nav {
  border-color: black;
  background-color: #2d2d2d;
  height: 30px;
}

.google {
  margin-top: 200px;
}

.logo {
  height: 95px;
  width: 275px;
}

.searchbar {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 570px;
  height: 21px;
}

.search-buttons{
  border-radius: 3px;
  font: bold 11px/22px Arial,sans-serif;
  color: #444;
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
}
